.TodoInput{
 	 width: 100%;
}

.TodoInput input{
	width: 60%;
	line-height: 1.8;
  	margin-bottom: 1em;
  	font-size: 16px;
  	padding: 0 .2em;
  	float: left;
}
.todoInput button{
	width: 30%;
	float: left;
	margin-left: 3%;
}